:root {
  --primary-color: #6c63ff;
  --primary-font: "Poppins";
  --title-font: "Playfair Display";
}

.container {
  max-width: 800px;
  text-align: center;
  font-family: var(--primary-font);
  display: block;
  margin: 150px 0 auto;
}
h1 {
  font-family: var(--title-font);
  font-weight: 700px;
  font-size: 96px;
  line-height: 127px;
  margin: 10px;
}
h2 {
  font-weight: 700px;
  font-size: 36px;
  margin: 10px;
}
h3 {
  font-weight: 400px;
  font-size: 24px;
  margin: 10px;
}
.contact-button {
  text-decoration: none;
  color: white;
  background: var(--primary-color);
  padding: 18px 30px;
  border-radius: 4px;
}
